body {
  background-color: #000;
}
.circul {
  --miter--: 400px;
  width: var(--miter--);
  height: var(--miter--);
  background-color: #fff;
  border-radius: 50%;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
